@media (max-width: 1100px) {

    .container {
        width: 96%;
        margin: 80px 2%;
    }

    .userQuizz {
        margin-bottom: 35px;
    }

    .listaQuizzes {
        justify-content: space-evenly;
    }

    /*tela 3 */

    .telaTres {
        width: 100%;
    }

    .telaTres div {
        width: 100%;
    }

    .telaTres .inputs {
        width: 100%;
        margin-top: 20px;
    }

    .telaTres .inputs div {
        width: 341px;
    }

    .telaTres .inputs div input {
        width: 100%;
    }

    .basicInfo button {
        width: 323px;
    }

    .selectLevel .level,
    .quizzQuestions,
    .question {
        width: 100%;
    }

    .wrong {
        width: 340px;
    }

    .question p {
        width: 300px;
    }

    .selectLevel {
        width: 385px;
    }

    .selectLevel .levels {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .selectLevel .level p {
        width: 300px;
    }


    .telaTres .questionText,
    .telaTres .questionColor,
    .telaTres .questionCorrectAnswer,
    .telaTres .questionCorrectAnswerImg,
    .wrong .wrongOne,
    .wrong .wrongOneImg,
    .wrong .wrongTwo,
    .wrong .wrongTwoImg,
    .wrong .wrongThree,
    .wrong .wrongThreeImg,
    .level .lvlTitle,
    .level .lvlPercentage,
    .level .lvlImgUrl,
    .level .lvlDescription {
        width: 90%;
    }

    .quizzCreated {
        width: 300px;
    }

    .quizzCreated .photo {
        width: 340px;
    }

    .quizzCreated .photo img {
        width: 340px;
    }

    .quizzCreated .photo p {
        word-break: break-all;
        font-size: 19px;
    }

    .userQuizzDisplayed {
        flex-direction: column;
        align-items: center;
    }

    .userQuizzDisplayed li {
        margin-bottom: 13px;
    }

    .topo span {
        font-size: 19px;
        width: 90%;
        word-break: break-all;
    }

    .perguntas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pergunta {
        width: 340px;
    }

    .pergunta h1 {
        font-size: 19px;
        word-break: break-all;
    }
}