@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

header {
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
}

.container {
    width: 100%;
    margin: 69px auto;
    background-color: #fafafa;
}

/******/
.telaUm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 69px;
}

.novoQuizz {
    min-width: 1080px;
    height: 181px;
    background-color: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 77px;
}

.novoQuizz p {
    font-weight: 400;
    font-size: 20px;
    color: #B9B9B9;
    width: 250px;
    text-align: center;
    line-height: 23px;
    margin: 10px 0;
}

.novoQuizz button {
    width: 136px;
    height: 40px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    margin: 10px 0;
    cursor: pointer;
}

.todosQuizzes .titulo {
    text-align: left;
}

.todosQuizzes .titulo h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.listaQuizzes {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 15px;
    margin-top: 12px;
}

.listaQuizzes li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 190px;
    list-style-type: none;
    position: relative;
}

.listaQuizzes li img {
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(image.png);
    border-radius: 5px;
    cursor: pointer;
}

.listaQuizzes li p {
    position: absolute;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    z-index: 1;
    bottom: 10px;
    left: 20px;
}

/*TELA3*/
.telaTres {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 49px;
}

.telaTres .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: 256px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 2.1%;
    margin-bottom: 6.3%;
}

.telaTres input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
}

.telaTres input {
    width: 564px;
    min-height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 4%;
}

.telaTres input:focus {
    outline-color: #818181;
    transition: all .5s;
}

/*ESTILIZAÇÕES PARA A TELA 3
    1-INFORMAÇÕES BÁSICAS*/
.basicInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.basicInfo p {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
}

.basicInfo button {
    border: none;
    width: 368.86px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFF5F4;

}

/*ESTILIZAÇÕES PARA A TELA 3
    2-CRIE SUAS PERGUNTAS*/

.quizzQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.quizzQuestions p {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.question {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 74px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 6%;
    transition: all .5s;
}

.question p {
    width: 564px;
    margin-bottom: 10px;
}

.doQuestion,
.correctAnswer,
.wrongAnswers,
.wrong {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doQuestion,
.correctAnswer,
.wrong {
    gap: 14px
}

.doQuestion p {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}

.correctAnswer p {
    margin-top: 28px;
    margin-bottom: 10px;
}

.wrongAnswers p {
    margin-top: 28px;
}

.wrong:nth-child(2) {
    margin-top: 14px;
}

.wrong:nth-child(3) {
    margin-top: 32px;
    margin-bottom: 32px;
}

.quizzQuestions button {
    margin-top: 81px;
    width: 354px;
    min-height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    width: 352.82px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
}

/*ESTILIZAÇÕES PARA A TELA 3
    3- DECIDA OS NIVEIS*/

.selectLevel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.selectLevel>p {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 43px;
}

.level {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 74px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    padding-top: 27px;
    transition: all .5s;
}

.level input {
    margin-bottom: 14px;
}

.level p {
    margin-bottom: 24px;
    width: 564px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.selectLevel button {
    width: 324px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    border: none;
    margin-top: 75px;
}

/*ESTILIZAÇÕES PARA A TELA 3
    4 - QUIZZ PRONTO*/

.quizzCreated {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 600px;
}

.quizzCreated>p {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 43px;
}

.photo {
    position: relative;
}

.photo img {
    width: 500px;
    height: 266px;
}

.photo p {
    display: flex;
    align-items: center;
    font-weight: 400;
    height: 54px;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    position: absolute;
    bottom: 9px;
    left: 23px
}

.quizzCreated button:nth-child(2n - 1) {
    margin-top: 45px;
    margin-bottom: 9px;
    width: 221px;
    height: 44px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
}

.quizzCreated button:nth-child(2n - 2) {
    width: 221px;
    height: 44px;
    background-color: transparent;
    border-radius: 15px;
    border: none;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
}

ion-icon {
    cursor: pointer;
}

.closed {
    width: 601px;
    height: 74px;
    margin-top: 24px;
}

.opened {
    height: 856px;
    transition: all .9s;
}

.openedLvl {
    height: 316px;
    transition: all .9s;
}

.closed p {
    display: flex;
    width: 564px;
    justify-content: space-between;
}

.hidden {
    width: 0%;
    opacity: 0;
    display: none;
}

/* Estilização Tela 2*/

.telaDois {
    width: 100%;
}

.topo {
    position: relative;
    width: 100%;
    height: 227px;
}

.topo img {
    width: 100%;
    height: 227px;
    object-fit: cover;
}

.topo div {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    width: 100%;
    height: 227px;
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;
    line-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixote {
    margin-bottom: 100px;
}

.perguntas {
    width: 760px;
    height: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000000D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    padding: 35px;
    padding-top: 25px;

}

.pergunta {
    background-color: #434CA0;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-weight: 23px;
    line-height: 27px;
    color: #FFFFFF;
}

.telaDois ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 30px;
    margin-top: 20px;
}

.perguntas li img {
    width: 330px;
    height: 175px;
    object-fit: cover;
}

.perguntas li .opcao {
    width: 330px;
    word-wrap: wrap;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: #000000;
}